footer {
  width: 100%;
  height: auto;
  background: #020123;
  padding: 0 10rem;
  padding-bottom: 10px;
}

footer .footer-nav {
  width: 100%;
  text-align: center;
  padding: 2rem;
}

footer .footer-nav h1 {
  color: #fff;
}

footer .footer-nav img {
  width: 200px;
  margin-top: 2rem;
  cursor: pointer;
}

.footer-hr {
  width: 100%;
  height: 3px;
  background: #fff;
}

.footer-nav-2 {
  width: 100%;
  height: 130px;
  display: flex;
}

.footer-nav-2 .footer-section {
  width: 100%;
  height: 100%;
  padding: 1.4rem;
  color: #fff;
}

.footer-nav-2 .footer-section ul li {
  list-style: none;
  margin-top: 10px;
}

.footer-nav-2 .footer-section ul li a {
  color: #fff;
}

.footer-nav-2 .footer-section ul li a:hover {
  color: #0602ff;
}

.footer-nav-2 .footer-section button {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border: 1px solid #fff;
  background: #000000;
  border-radius: 5px;
  color: #fff;
}

.footer-section .footer-textbox {
  color: #fff;
  margin-top: 2rem;
}

.footer-section .footer-textbox a {
  color: #0602ff;
}

.footer-section .sosmed-nav {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.footer-section .sosmed-nav a {
  color: #fff;
}

.footer-section .sosmed-nav a:hover {
  color: #0602ff;
}

.flex {
  display: flex;
}

@media screen and (max-width: 768px) {
  footer {
    width: 100%;
    height: auto;
    padding: 0;
    padding: 10px;
  }

  footer .footer-nav {
    padding: 0;
    width: 100%;
  }

  hr {
    margin: 10px;
  }

  footer .footer-section {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  footer .footer-nav-2 {
    flex-direction: column;
  }

  footer .sosmed-nav {
    align-items: start;
    justify-content: start;
  }

  .flex {
    flex-direction: column;
  }

  .footer-nav-2 .footer-section button {
    margin-top: 2rem;
  }

  #about-footer {
    margin-top: 22rem;
    padding: 10px;
  }

  .sosmed-nav {
    width: 200px;
  }
}
