@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: none;
  background-size: cover;
  position: relative;
}

header nav {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
}

header nav .left-navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

header nav .left-navbar .navbar {
  display: flex;
  gap: 10px;
  margin: 0 2.5rem;
  position: relative;
}

/* navbar */

header nav .left-navbar .category-dropdown {
  width: 400px;
  height: 300px;
  background: #00071e;
  position: absolute;
  top: 2rem;
}

header nav .left-navbar .category-dropdown ul li {
  display: inline-block;
  margin: 10px;
}

header nav .left-navbar .category-dropdown ul li a {
  font-size: 18px;
}

header nav .left-navbar .navbar li {
  list-style: none;
}

header nav .left-navbar .navbar a {
  color: #fff;
  opacity: 70%;
  font-size: 1.2rem;
  font-weight: bold;
}

header nav .left-navbar .navbar a:hover {
  opacity: 100%;
}

header nav .left-navbar .navbar .active {
  opacity: 100%;
}

header nav h1 {
  color: #0400df;
  font-size: 2rem;
}

header .right-nav .search {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 400px;
  height: 2.5rem;
  padding: 0 10px;
  color: #fff;
  border-bottom: 2px solid #fff;
}

header .right-nav .search .fa-magnifying-glass {
  color: #fff;
}

header .right-nav .search input {
  width: 100%;
  border: none;
  background: transparent;
  color: #fff;
}

header .right-nav .search input:focus {
  outline: none;
}

header .right-nav .search input::placeholder {
  color: #cecaca;
}

header .right-nav {
  display: flex;
  gap: 10px;
}

header .right-nav .cta-btn {
  width: 150px;
  height: 40px;
  background: #0400df;
  font-weight: bold;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

header .right-nav .cta-btn i {
  margin-right: 5px;
}

header .textbox {
  width: 60%;
  padding: 10rem 5rem;
}

header .textbox h1 {
  color: #fff;
  font-size: 3rem;
}

header .textbox h4 {
  color: #fff;
  font-weight: 200;
}

header .textbox p {
  color: #fff;
  padding: 1rem 0;
}

header .textbox .cta-wrapper {
  display: flex;
  gap: 10px;
}

header .textbox .cta-btn {
  width: 150px;
  height: 3rem;
  background: #0400df;
  font-weight: bold;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

header .textbox .cta-btn:nth-child(1) {
  background: #fff;
  color: #000;
}

header .info-wrap {
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  background: #071628;
  border-radius: 10px;
}

main {
  width: 100%;
  padding: 5rem;
  background: #01011b;
}

.container-movie {
  height: auto;
  overflow: hidden;
  position: relative;
}

.container-movie h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.container-movie .card-wrapper {
  width: 306px;
  height: 170px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  margin: 15px 10px;
  position: relative;
}

.container-movie .card-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(15rem);
}

.container-movie .card-wrapper:hover::after {
  opacity: 0.7;
  transform: translateY(0);
}

.container-movie .card-wrapper progress {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 10px;
  padding: 5px;
}

.container-movie .card-wrapper progress::-webkit-progress-bar {
  background-color: #fff;
  border-radius: 10px;
}

.container-movie .card-wrapper progress::-webkit-progress-value {
  background-color: #0400df;
  border-radius: 10px;
}

.container-movie .card-wrapper img {
  width: 100%;
  height: 100%;
}

.container-movie .textbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  transform: translateY(100%);
  transition: 0.5s;
}

.container-movie .card-wrapper:hover .textbox {
  transform: translateY(0);
}

.container-movie .textbox h3 {
  color: #fff;
  padding-top: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.container-movie .textbox i {
  color: #cecaca;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  cursor: pointer;
}

.container-movie .textbox i:hover {
  color: #0400df;
}

.container-movie .left-control {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  font-size: 30px;
  rotate: 180deg;
  width: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  background: #071628;
  cursor: pointer;
  z-index: 1;
  opacity: 0.8;
}

.container-movie .right-control {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 35px;
  cursor: pointer;
  font-size: 30px;
  width: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #071628;
  z-index: 1;
  opacity: 0.8;
}

.container-movie .new-movie-card {
  height: 400px;
  z-index: 1;
  transition: 0.5s;
  position: relative;
}

.container-movie .new-movie-card .cover-title {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 5px;
  background: #0f1027;
}

.container-movie .new-movie-card .cover-title p {
  font-size: 15px;
  margin-bottom: 10px;
}

.container-movie .new-movie-card::after {
  background: #fff;
  opacity: 1;
  transform: translate(0);
  display: none;
}

.container-movie .new-movie-card:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.container-movie .card-wrapper .textbox2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  display: none;
}

.container-movie .card-wrapper .textbox2 .card-header {
  width: 100%;
  height: 150px;
  position: relative;
}

.container-movie .card-wrapper .textbox2 .card-header .card-nav {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  z-index: 1;
  width: 80px;
  display: flex;
  gap: 5px;
}
.container-movie .card-wrapper .textbox2 .card-header .card-nav .cta-btn {
  background: #0400df;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.container-movie .card-wrapper .textbox2 .card-header .card-nav .cta-btn:nth-child(2) {
  background: #fff;
  color: #3a3636;
}

.container-movie .card-wrapper .textbox2 .card-header::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  display: block;
  position: absolute;
  top: 0;
  opacity: 0.3;
}

.container-movie .card-wrapper .textbox2 .card-main {
  width: 100%;
  height: 200px;
  padding: 10px;
}

.container-movie .card-wrapper .textbox2 .card-main article {
  margin: 10px 0;
}
.container-movie .card-wrapper .textbox2 .card-main a button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  background: #0400df;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.new-movie-card:hover {
  transform: scale(1.1);
}

.new-movie-card:hover .textbox2 {
  display: block;
}

.movie-category {
  width: 100%;
  height: auto;
}

.movie-category button {
  width: 152px;
  height: 40px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  background: #0400df;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
}

.movie-category button:hover {
  background: #fff;
  color: #000;
}
