@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: none;
  background-size: cover;
  position: relative;
}

header nav {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

header nav .left-navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

header nav .left-navbar .navbar {
  display: flex;
  gap: 10px;
  margin: 0 5rem;
}

header nav .left-navbar .navbar li {
  list-style: none;
}

header nav .left-navbar .navbar a {
  color: #fff;
  opacity: 70%;
  font-size: 1.2rem;
  font-weight: bold;
}

header nav .left-navbar .navbar a:hover {
  opacity: 100%;
}

header nav .left-navbar .navbar .active {
  opacity: 100%;
}

header nav h1 {
  color: #0400df;
  font-size: 2rem;
}

header .right-nav .search {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 400px;
  height: 3rem;
  background: #fff;
  padding: 0 10px;
  border-radius: 10px;
}

header .right-nav .search .fa-magnifying-glass {
  color: #000;
}

header .right-nav .search input {
  width: 100%;
  border: none;
}

header .right-nav .search input:focus {
  outline: none;
}

header .right-nav {
  display: flex;
  gap: 10px;
}

header .right-nav .cta-btn {
  width: 150px;
  background: #0400df;
  font-weight: bold;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

header .right-nav .cta-btn i {
  margin-right: 5px;
}

header .textbox {
  width: 60%;
  padding: 10rem 5rem;
}

header .textbox h1 {
  color: #fff;
  font-size: 3rem;
}

header .textbox h4 {
  color: #fff;
  font-weight: 200;
}

header .textbox p {
  color: #fff;
  padding: 1rem 0;
}

header .textbox .cta-wrapper {
  display: flex;
  gap: 10px;
}

header .textbox .cta-btn {
  width: 150px;
  height: 3rem;
  background: #0400df;
  font-weight: bold;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

header .textbox .cta-btn:nth-child(1) {
  background: #fff;
  color: #000;
}

header .info-wrap {
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  background: #071628;
  border-radius: 10px;
}

main {
  width: 100%;
  padding: 5rem;
  background: #071628;
}

#recent-movie {
  height: 50vh;
  overflow: hidden;
  position: relative;
}

#recent-movie h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 2rem;
}

#recent-movie .card-wrapper {
  width: 306px;
  height: 244px;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  margin: 15px 10px;
  position: relative;
}

#recent-movie .card-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(15rem);
}

#recent-movie .card-wrapper:hover::after {
  opacity: 0.7;
  transform: translateY(0);
}

#recent-movie .card-wrapper progress {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 10px;
  padding: 5px;
}

#recent-movie .card-wrapper progress::-webkit-progress-bar {
  background-color: #fff;
  border-radius: 10px;
}

#recent-movie .card-wrapper progress::-webkit-progress-value {
  background-color: #0400df;
  border-radius: 10px;
}

#recent-movie .card-wrapper img {
  width: 100%;
  height: 100%;
}

#recent-movie .textbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  transform: translateY(100%);
  transition: 0.5s;
}

#recent-movie .card-wrapper:hover .textbox {
  transform: translateY(0);
}

#recent-movie .textbox h3 {
  color: #fff;
  padding-top: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#recent-movie .textbox i {
  color: #cecaca;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  cursor: pointer;
}

#recent-movie .textbox i:hover {
  color: #0400df;
}

#recent-movie .left-control {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 25px;
  cursor: pointer;
  font-size: 30px;
}

#recent-movie .right-control {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 25px;
  cursor: pointer;
  font-size: 30px;
  width: 30px;
  height: 100%;
  display: none;
}
